/*CSS RESET */
*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:59px;
}
/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    position:relative;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:1;

    
}
/*Nav Bar :logo And Image*/
#logo{
margin : 10px 34px;
}

#logo img{
    height :60px;
    margin : 3px 6px;
    border-radius: 50px;
    
}
/*Nav Bar :List Styling*/

#navbar ul{
    display: flex;
    font-family:'Baloo Bhai', cursive;
}



#navbar ul li{
    list-style: none;
    font-size: 1 rem; 
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 30px 15px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    background-color:white;
    color: black;
}

/*HOME SECTION*/
#home{
    display: flex;
    flex-direction:column;
    background: url('bg2.jpeg') no-repeat  center/cover;
    padding:3px 200px;
    justify-content: center;
    align-items:center;
    height: 350px;
    position: relative;
}

#home::before{
    content: "";
    /*background: url('bg2.jpeg') no-repeat center center/cover;*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#home h1{
    font-family:'Baloo Bhai', cursive;
}

#home p{
    font-family:'Baloo Bhai', cursive;
    color:whitesmoke;
    font-size:larger;
}
/*Services Section*/
#services{
    margin: 34px;
    display: flex;
    flex-direction:row;
}

#services .box{
    border: 2px solid brown;
    padding: 2px 6px;
    margin: 3px;
    border-radius: 23px;
    background-color: rgb(219, 213, 213);
    margin-bottom: 20px;
}

#services .box img{
    margin: auto;
    display:block;
}

#services .box p{
    font-family:'Baloo Bhai', cursive;
    text-align:justify;
}

#services .box .h-secondary{
    font-family:'Baloo Bhai', cursive;
    text-align:center;
}

/*Clients-section*/
#client-section{
    position: relative;
}

#client-section::before{
    content:"";
    position:absolute;
    background: url('../bg6.jpg')  no-repeat  center/cover;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.4;
}

#clients{
    display: flex;
    justify-content:center;
    align-items: center;
}

#clients img{
    height: 100px;
}

.client-item{
    padding:10px;
}

/*contact Section*/

#contact{
    position:relative;
}
#contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.7;
    background: url('bg3.jpg') no-repeat  center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding: 0.3rem;
   border-radius: 6px;
   font-size: 1.1rem;
}

#contact-box form{
    width:35%; 
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif ;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/*Utility Class*/

.h-primary{
    font-size: 2rem;
    padding: 30px;
    color:black;
}

.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
}
.btn{
    padding: 6px;
    border: 2px solid white;
    background-color: brown;
    color:white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.center{
    text-align: center;
}
